#home {
  padding-top: 20vh;
  padding-bottom: 15vh;

  @media (max-width: $medium-3) {
    padding-bottom: 24vh;
  }

  @media (max-width: $small) {
    padding-bottom: 30vh;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;

  @media (min-width: $larger) {
    justify-content: center;
  }

  @media (max-width: $large) {
    flex-direction: column;
  }
}

.description {
  .heading_3 {
    text-align: center;
  }

  @media (min-width: $larger) {
    margin-right: 3rem;
  }

  @media (max-width: $large) {
    margin-bottom: 3rem;
  }
}

.image {
  img {
    width: 40rem;
    height: auto;
    border-radius: 50%;
    display: block;
    border: 1rem solid #444;

    @media (max-width: $large) {
      width: 30rem;
      height: 30rem;
    }

    &:hover {
      animation: pulsate 1s infinite;
    }
  }

  &__dark {
    img {
      border: 1rem solid $color-grey-light-1;
    }
  }
}
