// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-dark: #101d2c;
$color-golden-grey-dark: #7e6e5d;
$color-golden-grey-dark-1: #664d32;

// FONTS
$default-font-size: 1.6rem;
